.card-img {
  img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }
}

.card.cocktail {
  background-color: transparent;
  border: none;
  text-align: center;
}

.card-img {
  height: 70%;
}

.card-body {
  height: 30%;
}
